<!DOCTYPE html>

<head>


</head>

<body>

    <h1>Render Tables</h1>

    <!--table>
        <!-- here goes our data ! -->
    <!--/table-->

   <h1> first company is | <%= companies[1].name %></h1>

   <table class="table table-striped table-primary">
    <thead>
      <tr>
        <th>Company ID</th>
        <th>Company Name</th>
        <th>Company Origin</th>
        <th>Entry Date</th>       
      </tr>
    </thead>
    <tbody>
      <%if (companies.length >0){ %>
      <% companies.forEach(function(row){ %>
      <tr>
        <td><%= row._id %></td>
        <td><%= row.Company_Name %></td>
        <td><%= row.Company_Origin %></td>
        <td><%= row.EntryDate %></td>
       
      </tr>
      <% })}else{ %>
        <tr>
            <td colspan="6">No Record Found</td>
            
          </tr>
        <% } %>
    </tbody>
  </table>




















    <!--html>

    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            
            th, td {
                padding: 20px;
            }
            
            th {
                text-align: left;
            }
        </style>
    </head>
    
    <body>
    
        <table style="width:100%">
            <caption>DETAILS</caption>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
        </table>
    </body>
    
    

</body>